@font-face {
  font-family: "Friz Quadrata";
  src: url(friz-quadrata-std-medium-5870338ec7ef8.otf);
}

* {
  font-family: 'Friz Quadrata' !important;
}

body {
  background-color: #141414;
}

.login-page {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}


.login-form-form {
  width: 25%;
  height: 200px;
  padding: 10px;
  background-color: #003052;
  border-radius: 0 4px 4px 0;
  padding-left: 5%;
}

.login-form-text {
  width: 25%;
  height: 200px;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  text-align: center;
  color: #d6efff;
  background-color: #4A2966;
}

.login-form-text h1 {
  color: #d6efff;
}

.signup-form-form {
  width: 25%;
  height: 20%;
  padding: 10px;
  background-color: #003052;
  border-radius: 4px 0 0 4px;
  padding-left: 5%;
}

.signup-form-text {
  width: 25%;
  height: 20%;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  color: #d6efff;
  background-color: #4A2966;
}

.signup-form-text h1 {
  color: #d6efff;
}

.login-form-text h1 {
  color: #d6efff;
}

.signup-page {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.button-router {
  background-color: #3660a000;
  border: 1px solid;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.button-router:hover {
  text-decoration: none;
  color: #d6efff;
}

.input:hover {
  background-color: #d6efff;
}

.signin-icon {
  float: right;
  margin-left: 5px;
}

.signin-button {
  width: 85% !important;
}

.container-landing {
  width: 100%;
  margin: 0;
}

.background {
  background-image: url(/img/fondo.png);
}

.containterStadistics {
  background-color: #3d3d3d;
}

@media (min-width: 750px) {
  .title-landing {
    font-size: 95px;
  }
}

@media (max-width: 750px) {
  .title-landing {
    font-size: 75px;
  }
}

.title-landing {
  color: #d6efff;
}

.button-play {
  background-color: #3660a000;
  border: 1px solid;
  color: #d6efff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-size: 55px;
}

.button-play:hover {
  text-decoration: none;
  color: #3660a0;
}

.button {
  background-color: #3660a0;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.demo-button {
  background-color: grey;
}

.button:hover {
  background-color: #0e3875;
  color: rgb(201, 201, 201);
}

.demo-button:hover {
  background-color: rgb(51, 51, 51);
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.default {
  background-color: rgb(228, 159, 55) !important;
}

.correct {
  background-color: green;
  color: rgb(201, 201, 201);
  animation-name: correct-animation;
  animation-duration: 1.5s;
}

@keyframes correct-animation {
  from {
    background-color: rgb(228, 159, 55);
  }

  to {
    background-color: green;
  }
}

.simple-incorrect {
  background-color: red;
  color: rgb(201, 201, 201);
  animation-name: incorrect-animation;
  animation-duration: 1.5s;
}

.incorrect {
  background-color: red;
  color: rgb(201, 201, 201);
  animation-name: incorrect-translation-animation;
  animation-duration: 0.5s;
}

@keyframes incorrect-translation-animation {
  0% {
    background-color: rgb(228, 159, 55);
  }

  15% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  45% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    background-color: red;
  }
}

@keyframes incorrect-animation {
  0% {
    background-color: rgb(228, 159, 55);
  }

  100% {
    background-color: red;
  }
}

.play {
  margin-left: 45px;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.setParameters {
  background-color: rgb(184, 184, 184);
  padding: 40px;
  border-radius: 10px;
}

.setParameters label {
  padding: 30px;
}

.user {
  color: white;
  float: right;
  margin: 25px;
}

/*
* Carrousel
*/

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 1000px;
  height: 650px;
}

.slides {
  display: flex;

}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  min-height: 600px;
  max-height: fit-content;
  justify-content: center;
  margin: none;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
  padding: 30px;
}

.slide-1 {
  background-color: rgb(92, 154, 206);
}

.slide-2 {
  background-color: #bfd;
}

/*
Fin Carrousel
*/

.questionText {
  display: flex;
  align-items: center;
  text-align: center;
}

.btnAnswer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.answer {
  width: 440px;
  height: 100%;
  font-size: 150%;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

.countAnswers {
  width: fit-content;
  color: white;
  font-size: 35px;
  background-color: grey;
  padding: 15px;
  border-radius: 4px;
}

.nQuestionContainer {
  display: flex;
  margin: auto;
  border: 0;
  padding: 0;
  width: 10%;
  height: 50%;
  float: center;
}

.nCurrQuestion {
  background-color: green;
}

span {
  background-color: #707070;
  color: white;
  text-align: center;
  text-decoration: none;
  display: fit-content;
}