body{
  background-color: #141414;
}

.login-page{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%; 
}

.login-form{
  width: 30%;
  height: 200px;
  padding: 10px;
  background-color: #003052;
  border-radius: 4px;
}

.input{
  
}

.input:hover{
  background-color: #ebebeb;
}

.signin-icon{
  float: right;
  margin-left: 5px;
}

.container-landing {
  width: 100%;
  margin: 0;
}

.fondo {
  background-image: url(/img/fondo.png);
}

.blanco {
  color: white;
}

.button {
  background-color: #3660a0;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.demo-button {
  background-color: grey;
}

.button:hover {
  background-color: #0e3875;
  color: rgb(201, 201, 201);
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.default {
  background-color: rgb(228, 159, 55) !important;
}

.correct {
  background-color: green;
  color: rgb(201, 201, 201);
  animation-name: correct-animation;
  animation-duration: 1.5s;
}

@keyframes correct-animation {
  from {
    background-color: rgb(228, 159, 55);
  }

  to {
    background-color: green;
  }
}

.simple-incorrect {
  background-color: red;
  color: rgb(201, 201, 201);
  animation-name: incorrect-animation;
  animation-duration: 1.5s;
}

.incorrect {
  background-color: red;
  color: rgb(201, 201, 201);
  animation-name: incorrect-translation-animation;
  animation-duration: 0.5s;
}

@keyframes incorrect-translation-animation {
  0% {
    background-color: rgb(228, 159, 55);
  }

  15% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  45% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    background-color: red;
  }
}

@keyframes incorrect-animation {
  0% {
    background-color: rgb(228, 159, 55);
  }

  100% {
    background-color: red;
  }
}

.play {
  margin-left: 45px;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.setParameters {
  background-color: rgb(184, 184, 184);
  padding: 40px;
  border-radius: 10px;
}

.setParameters label {
  padding: 30px;
}

/*
* Carrousel
*/

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 1000px;
  height: 650px;
}

.slides {
  display: flex;

}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  min-height: 600px;
  max-height: fit-content;
  justify-content: center;
  margin: none;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
  padding: 30px;
}

.slide-1 {
  background-color: rgb(92, 154, 206);
}

.slide-2 {
  background-color: #bfd;
}

/*
Fin Carrousel
*/

.questionText {
  display: flex;
  align-items: center;
  text-align: center;
}

.btnAnswer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.answer {
  width: 440px;
  height: 100%;
  font-size: 150%;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

.countAnswers {
  width: fit-content;
  color: white;
  font-size: 35px;
  background-color: grey;
  padding: 15px;
  border-radius: 40%;
}